@charset "uft-8";
@import url(commons/footer.css);
@import url(commons/header.css);

#wrap{
    width: 100%;
    height: auto;
}

/*contents 부분*/
.contents{
    width: 100%;
    height: auto;
}

.contents .inner-con{
    width: 100%;
    height: auto;
    margin-top: 167px;
}

/*contents : nav 부분*/
.contents .inner-con .nav{
    width: 100%;
    height: 950px;
    background: url(../img/index_nav_bg.jpg) no-repeat ;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}

.contents .inner-con .nav .navTitle{
    height: auto;
    color: #fff;
    position: absolute;
    top:70%;
    margin-left: 70px;
    font-size: 20px;
    font-weight:300;
    line-height: 20px;
    z-index: 10;
}

.contents .inner-con .nav .navTitle >span.nTitlt01{
    font-size: 40px;
    font-weight:100;
    line-height: 70px;
}

.contents .inner-con .nav .navTitle >span.nTitle02{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

.contents .inner-con .nav .navTitle >hr{
    top: 6%;
    width: 60px;
    margin-left: 130px;
    border: 0.5px solid;
    border-color:#fff;
    position: absolute;
}


/*contents : section 0 부분*/
.contents .section00{
    width: 100%;
    height: auto;
/*    position: relative;*/
}

.contents .section00::after{
    content: "";
    display: block;
    clear: both;
}

.contents .section00 .s0-text {
    width: 50%;
    height: auto;
    float: left;
    text-align: right;
    margin-top: 50px;
}

.contents .section00 .s0-text::after{
    content: "";
    display: block;
    clear: both;
}

.contents .section00 .s0-text >h1{
    padding-right: 20px;
    font-weight: 700;
    font-family:'Noto Sans', sans-serif;
}

.contents .section00 .s0-text >span{
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    display: block;
}

.contents .section00 .s0-text >h6{
    padding-right: 20px;
    font-size: 14px;
    line-height: 60px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #bfbfbf;
}

.contents .section00 .s0-text >h6 a{
    color: #bfbfbf;
}

.contents .section00 .s0-text >h6 a:hover{
/*    font-weight: bold;*/
    color:#161616;
    -webkit-transition: 0.5s;
    box-shadow: 0 3px 0 #e11425;
}

.contents .section00 .s0-img{
    width: 50%;
    height: 350px;
    float: right;
    background: url(../img/sec0_img.gif) no-repeat;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    top: -40px;
    right: 0;
}


/*contents : section 1 부분*/
.contents .section01{
    width: 100%;
    height: auto;
    background: #f2f2f2;
    margin-bottom: 50px;
}

.contents .section01 .inner-sec1{
    width: 100%;
    max-width: 1400px;
    height: 609px;
    margin: 0 auto;
    padding-top: 50px;
}

.contents .section01 .inner-sec1::after{
    content: "";
    display: block;
    clear:both;
}

.contents .section01 .inner-sec1 hr.sec1-line{
    width: 20px;
    border-color: #161616;
    border: 1px solid;
    margin: 0 auto;
}

.contents .section01 .inner-sec1 .sec1Title{
    width: 100%;
    text-align: center;
}

h1.secTitle{
    font-family:'Noto Sans', sans-serif;
}

.contents .section01 .inner-sec1 .sec1Title >span.sinceText{
    font-size: 16px;
    font-weight: 500;
    color: #7e7e7e;
    line-height: 11px;
}

.contents .section01 .inner-sec1 .sec1Since::after{
    content: "";
    display: block;
    clear:both;
}


/*contents : section 1 - Since 부분*/
.contents .section01 .inner-sec1 .sec1Since{
    width: 100%;
    height: auto;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since{
    width: 100%;
    max-width: 100px;
    height: 500px;
    position: absolute;
    z-index: 10;
    margin-top: -30px
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since::after{
    content: "";
    display: block;
    clear: both;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .spanList{
    width: 50px;
    height: 500px;
    float: left;
    cursor: pointer;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .spanList span.list{
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #bfbfbf;
    background: #bfbfbf;
    border-radius: 50%;
    margin: 85px 20px 0;
    box-sizing: border-box;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince{
    width: 50px;
    height: 500px;
    float: left;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince p{
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince p:nth-child(1){
    margin-top: 80px;
}
.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince p:nth-child(2){
    margin-top: 76px;
}
.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince p:nth-child(3){
    margin-top: 78px;
}
.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince p:nth-child(4){
    margin-top: 76px;
}
.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .pSince p:nth-child(5){
    margin-top: 78px;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since .slide-bar{
    width: 4px;
    height: 0;
    background: #e11425;
    position: absolute;
    z-index: -10;
    left: 23px;
    top: 90px;
}

.contents .section01 .inner-sec1 .sec1Since .inner-sec1Since span.slide-bar-bg{
    display: block;
    width: 2px;
    height: 385px;
    background: #bfbfbf;
    position: absolute;
    z-index: -10;
    left: 24px;
    top: 90px;
}

.on{
    background: #e11425 !important;
    border: 1px solid #e11425 !important;
    transition: all 1.0s;
    box-shadow: 2px 2px 5px #ff8282 !important;
}


/*contents : section 1 - Slide 부분*/
.contents .section01 .inner-sec1 .sec1Main{
    width: 100%;
    max-width: 1400px;
    height: auto;
    position: relative;
    margin: 20px auto;
}

.contents .section01 .inner-sec1 .sec1Main >ul >li{
    width: 100%;
    height: auto;
    position: absolute;
}

.contents .section01 .inner-sec1 .sec1Main >ul >li .sec1-Brand{
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -112px;
}
.contents .section01 .inner-sec1 .sec1Main >ul >li .sec1-Brand img{
    display: block;
    width: 100%;
    height: 100%;
}

.contents .section01 .inner-sec1 .sec1Main >ul >li span.sec1Text{
    display: block;
    width: 546px;
    height: 242px;
    color: #7e7e7e;
    font-weight: bold;
    font-size: 180px;
    position: absolute;
    left: 50%;
    margin-left: -273px;
    top: 100px;
    text-shadow: 5px 5px 0 #bfbfbf;
}

.contents .section01 .inner-sec1 .sec1Main >ul >li span.sec1Text:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -webkit-transition: 1.0s;
    color: #161616;
}

/*contents : section 2 부분*/
.contents .section02{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.contents .section02 .inner-sec2{
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.contents .section02 .inner-sec2 span.slideArrow{
    width: 15px;
    height: 25px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
}

.contents .section02 .inner-sec2 span.slideArrow:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -webkit-transition: 0.8s;
}

.contents .section02 .inner-sec2 span.slideArrow.left{
    background-image: url(../img/sec02_slideArrow_left.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
}

.contents .section02 .inner-sec2 span.slideArrow.right{
    background-image: url(../img/sec02_slideArrow_right.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0
}

.contents .section02 .inner-sec2 .sec2-slide{
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.contents .section02 .inner-sec2 .sec2-slide .items{
    width: 100%;
    max-width: 1300px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}

.contents .section02 .inner-sec2 .sec2-slide .items::after{
    content: "";
    display: block;
    clear: both;
}

.contents .section02 .inner-sec2 .sec2-slide .items >ul >li{
    width: 16%;
    height: 200px;
    margin: 2%;
    border-radius: 50%;
    background: #f8f8f8;
    float: left;
    box-shadow: 0 5px 2px #bfbfbf;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.contents .section02 .inner-sec2 .sec2-slide .items >ul >li::after{
    content: "";
    display: block;
    clear: both;
}

/*contents : section 3 부분*/
.contents .section03{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.contents .section03 .inner-sec3{
    width: 100%;
    max-width: 1400px;
    height: 640px;
    margin: 0 auto;
}

.contents .section03 .inner-sec3 hr.sec3-line{
    width: 20px;
    border-color: #161616;
    border: 1px solid;
    position: relative;
    margin: 0 auto;
}

.contents .section03 .inner-sec3 .sec3Title{
    width: 100%;
    height: 150px;
    text-align: center;
}

.contents .section03 .inner-sec3 .sec3Title >span.joureyText{
    font-size: 13px;
    font-weight: 500;
    color: #7e7e7e;
}

.contents .section03 .inner-sec3 .sec3Title >h6{
    font-size: 13px;
    font-weight: 500;
    color: #7e7e7e;
    letter-spacing: 3px;
    padding-top: 10px;
}

.contents .section03 .inner-sec3 .sec3Title >h6 a{
    color: #7e7e7e;
}

.contents .section03 .inner-sec3 .sec3Title >h6 a:hover{
    color:#161616;
    -webkit-transition: 0.5s;
    box-shadow: 0 3px 0 #e11425;

}

.contents .section03 .inner-sec3 .sec3Contents{
    width:100%;
    max-width: 1400px;
    height: auto;
}

.contents .section03 .inner-sec3 .sec3Contents::after{
    content: "";
    display: block;
    clear: both;
}


/*contents : section 3 : journey01 부분*/
.contents .section03 .inner-sec3 .sec3Contents .journey01{
    width: 33%;
    height: auto;
    border: 1.5px solid #bfbfbf;
    box-sizing: border-box;
    float: left;
    margin-right: 0.3333%;

}

.contents .section03 .inner-sec3 .sec3Contents .journey01 >ul >li.j-img1{
    width: 100%;
    height: 240px;
    background: url(../img/sec03-journey-img01.jpg) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.contents .section03 .inner-sec3 .sec3Contents .journey01 >ul >li.j-img1:hover{
    background-image: url(../img/sec03-journey-img01_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: 0.5s;
    
}

.contents .section03 .inner-sec3 .sec3Contents .journey01 >ul >li.j-title1{
    padding: 20px 0 0 20px; /*top-right-bottom-left*/
    box-sizing: border-box;
}

.contents .section03 .inner-sec3 .sec3Contents .journey01 >ul >li.j-title1 a{
    font-size: 0.7em;
    color: #161616;
    font-weight: bold;
}

.contents .section03 .inner-sec3 .sec3Contents .journey01 >ul >li.j-title1 span{
    display: block;
    color: #bfbfbf;
    font-size: 12px;
    padding: 120px 0 10px 0;
    box-sizing: border-box;
}

/*contents : section 3 : journey02 부분*/
.contents .section03 .inner-sec3 .sec3Contents .journey02{
    width: 33%;
    height: auto;
    border: 1.5px solid #bfbfbf;
    box-sizing: border-box;
    float: left;
    margin-right: 0.3333%;

}

.contents .section03 .inner-sec3 .sec3Contents .journey02 >ul >li.j-img2{
    width: 100%;
    height: 240px;
    background: url(../img/sec03-journey-img02.jpg) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.contents .section03 .inner-sec3 .sec3Contents .journey02 >ul >li.j-img2:hover{
    background-image: url(../img/sec03-journey-img02_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: 0.5s;
}

.contents .section03 .inner-sec3 .sec3Contents .journey02 >ul >li.j-title2{
    padding: 20px 0 0 20px;
    box-sizing: border-box;
}

.contents .section03 .inner-sec3 .sec3Contents .journey02 >ul >li.j-title2 a{
    font-size: 0.7em;
    color: #161616;
    font-weight: bold;
}

.contents .section03 .inner-sec3 .sec3Contents .journey02 >ul >li.j-title2 span{
    display: block;
    color: #bfbfbf;
    font-size: 12px;
    padding: 120px 0 10px 0;
    box-sizing: border-box;
}

/*contents : section 3 : journey03 부분*/
.contents .section03 .inner-sec3 .sec3Contents .journey03{
    width: 33%;
    height: auto;
    border: 1.5px solid #bfbfbf;
    box-sizing: border-box;
    float: left;
}

.contents .section03 .inner-sec3 .sec3Contents .journey03 >ul >li.j-img3{
    width: 100%;
    height: 240px;
    background: url(../img/sec03-journey-img03.jpg) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.contents .section03 .inner-sec3 .sec3Contents .journey03 >ul >li.j-img3:hover{
    background-image: url(../img/sec03-journey-img03_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: 0.5s;
}

.contents .section03 .inner-sec3 .sec3Contents .journey03 >ul >li.j-title3{
    padding: 20px 0 0 20px; 
    box-sizing: border-box;
}

.contents .section03 .inner-sec3 .sec3Contents .journey03 >ul >li.j-title3:hover{
    background: #e11425;
}

.contents .section03 .inner-sec3 .sec3Contents .journey03 >ul >li.j-title3 a{
    font-size: 0.7em;
    color: #161616;
    font-weight: bold;
}

.contents .section03 .inner-sec3 .sec3Contents .journey03 >ul >li.j-title3 span{
    display: block;
    color: #bfbfbf;
    font-size: 12px;
    padding: 120px 0 10px 0;
    box-sizing: border-box;
}

/*contents : section 4 부분*/
.contents .section04{
    width: 100%;
    height: auto;
    background: #f2f2f2;
}

.contents .section04 .inner-sec4{
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contents .section04 .inner-sec4 hr.sec4-line{
    width: 20px;
    border-color: #161616;
    border: 1px solid;
    position: relative;
    margin: 0 auto;
}

.contents .section04 .inner-sec4 .sec4Title{
    width: 100%;
    height: auto;
/*    border: 1px solid;*/
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contents .section04 .inner-sec4 .sec4Title >span.eventText{
    font-size: 13px;
    font-weight: 500;
    color: #7e7e7e;
}

.contents .section04 .inner-sec4 .sec4Sns{
    width: 100%;
    max-width: 200px;
    height: 33px;
    margin: 0 auto;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li{
    width: 25%;
    height: 33px;
    float: left;
    box-sizing: border-box;
    padding:0 8px;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li >span{
    width: 34px;
    height: 34px;
    display: block;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-face >span{
    background: url(../img/sec04_eventSns-face.png) no-repeat;
    cursor: pointer;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-face >span:hover{
    background: url(../img/sec04_eventSns-face_hover.png) no-repeat;
    transition: 0.5s;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-ins >span{
    background: url(../img/sec04_eventSns-ins.png) no-repeat;
    cursor: pointer;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-ins >span:hover{
    background: url(../img/sec04_eventSns-ins-hover.png) no-repeat;
    transition: 0.5s;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-you >span{
    background: url(../img/sec04_eventSns-you.png) no-repeat;
    cursor: pointer;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-you>span:hover{
    background: url(../img/sec04_eventSns-you-hover.png) no-repeat;
    transition: 0.5s;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-twi >span{
    background: url(../img/sec04_eventSns-twi.png) no-repeat;
    cursor: pointer;
}

.contents .section04 .inner-sec4 .sec4Sns >ul >li.sec4-sns-twi>span:hover{
    background: url(../img/sec04_eventSns-twi-hover.png) no-repeat;
    transition: 0.5s;
}

.contents .section04 .inner-sec4 .sec4-event{
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
}


.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event .eventGallery{
    width: 100%;
    max-width: 1920px;
    height: 400px;
    position: absolute;
    
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event .eventGallery::after{
    content: "";
    display: block;
    clear: both;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event .eventGallery >ul >li{
    width: 19%;
    height: 400px;
    margin: 0 0.5% 0 0.5%;
    float: left;
    box-sizing: border-box;
    opacity: 0.4;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event .eventGallery >ul >li >a{
    width: 100%;
    height: 100%;
    display: block;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event .eventGallery >ul >li:hover{
    cursor: pointer;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event span.arrow{
    position: absolute;
    display: block;
    width: 50px;
    height: 400px;
    background: #f2f2f2;
    top: 0;
    
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event span.arrow img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    position: absolute;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event span.arrow.left{
    left: 0px;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event span.arrow.left img{
    right: -15px;
    z-index: 5;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event span.arrow.right{
    right: 0;
}

.contents .section04 .inner-sec4 .sec4-event .inner-sec4-event span.arrow.right img{
    left: -15px;
    z-index: 5;
}



.on2{
    border: 5px solid #fff !important;
    background: #00f;
    transition: all 0.7s;
    opacity: 1 !important;
    transform: scale(1.05);
}

.on2:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}









