@charset "utf-8";
@import url(commons/footer.css);
@import url(commons/header.css);
@import url(contents/nav.css);
@import url(contents/section00.css);
@import url(contents/section01.css);
@import url(contents/section02.css);
@import url(contents/section03.css);
@import url(contents/section04.css);

#wrap{
    width: 100%;
    height: auto;
}

/*contents 부분*/
.contents{
    width: 100%;
    height: auto;
}

.contents .inner-con{
    width: 100%;
    height: auto;
    margin-top: 167px;
}
