@charset "utf-8";

/*header 부분*/
.header{
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: rgba(255,255,255,1);
}

.header .inner-header{
    width: 100%;
    height: auto;
}

.header .inner-header .topMenu{
    width: 100%;
    height: 20px;
    padding: 10px 0 0 0;
    
}

.header .inner-header .topMenu img{
    margin: 0 auto;
}

.header .inner-header .topMenu::after{
    content: "";
    display: block;
    clear: both;
}

.header .inner-header .topMenu .location{
    width: 30px;
    height: auto;
    float: left;
    padding-left: 50px;
}

.header .inner-header .topMenu .location >img{
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

/*////////////////////////////////////////////////*/
/*loacoation popMenu!!!!!!!!!!!!!!!!!!!!*/
.header .inner-header .topMenu .locationPop{
    width:100%;
    height: 100%;
    background: rgba(255,255,255,0.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 5;
}

.header .inner-header .topMenu .locationPop .inner-locationPop{
    width: 300px;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    padding: 15px;
    background: rgba(0,0,0,0.9);
    
}

.header .inner-header .topMenu .locationPop .inner-locationPop span.locaClose{
    display: block;
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: 18px;
}

.header .inner-header .topMenu .locationPop .inner-locationPop span.locaClose:hover{
    transform: rotate(365deg);
    transition: all 0.5s;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .locationTitle >h1{
    color: #e61d2a;
    font-family:'Noto Sans', sans-serif;
    letter-spacing: 3px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca{
    width: 100%;
    height: auto;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca >ul >li.locaTitle{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-indent: 0px;
    cursor: pointer;
    color: #fff;
    line-height: 40px;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca >ul >li{
    line-height: 30px;
    font-size: 14px;
    font-family:'Noto Sans', sans-serif;
    text-indent: 30px;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca >ul >li a{
    color: #fff;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca >ul >li a:hover{
    text-decoration: underline;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca.northAmerica >ul >li.locaChild{
    display: none;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca.latinAmerica >ul >li.locaChild{
    display: none;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca.europe >ul >li.locaChild{
    display: none;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca.eurasia >ul >li.locaChild{
    display: none;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca.africa >ul >li.locaChild{
    display: none;
}

.header .inner-header .topMenu .locationPop .inner-locationPop .loca.asia >ul >li.locaChild{
    display: none;
}

/*////////////////////////////////////////////////*/

.header .inner-header .topMenu .login{
    width: 30px;
    height: auto;
    float: right;
    padding-right: 50px;
}

.header .inner-header .topMenu .login >a >img{
    width: 15px;
    height: 20px;
    display: block;
}

.header .inner-header .middleMenu{
    width: 100%;
    height: auto;
}

.header .inner-header .middleMenu .logo{
    width: 140px;
    height: 70px;
    margin: 0 auto 15px;
}

.header .inner-header .middleMenu .logo img{
    width: 100%;
    height: auto;
    display: block;
}

.header .inner-header .bottomMenu{
    width: 100%;
    height: auto;
}

.header .inner-header .bottomMenu .inner-gnb{
    width: 100%;
    height: auto;
    border-top: 1px solid #eee;
}

.header .inner-header .bottomMenu .inner-gnb .gnb{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
}

.header .inner-header .bottomMenu .inner-gnb .gnb >ul >li{
    width: 20%;
    line-height: 50px;
    float: left;
    text-align: center;
    font: 16px;
}

.header .inner-header .bottomMenu .inner-gnb .gnb >ul >li a{
    display: block;
}

.header .inner-header .bottomMenu .inner-gnb .gnb >ul >li a:hover{
    font-weight: bold !important;
    background: #e61d2a;
    color: #fff !important;
}

.header .inner-header .bottomMenu .inner-gnb .subMenu{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    display: none;
}

.header .inner-header .bottomMenu .inner-gnb .subMenu::after{
    content: "";
    display: block;
    clear: both;
}

.header .inner-header .bottomMenu .inner-gnb .subMenu >ul{
    width: 20%;
    float: left;
}

.header .inner-header .bottomMenu .inner-gnb .subMenu >ul >li{
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}

.header .inner-header .bottomMenu .inner-gnb .subMenu >ul >li a{
    color: #999;
}

.header .inner-header .bottomMenu .inner-gnb .subMenu >ul >li a:hover{
    color: #444;
    font-weight: bold;
    border-bottom: 2px solid #e61d2a;
}


/*scroll-header !!!!!!!!!!!!!!!!!!!!!*/
.header .scroll-header{
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
}

.header .scroll-header .inner-scroll-header{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.header .scroll-header .inner-scroll-header .sGnb::after{
    content: "";
    display: block;
    clear: both;
}

.header .scroll-header .inner-scroll-header .sGnb{
    width: 100%;
    max-width: 1600px;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li{
    width: 14.2857%;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
    font-size: 14px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li >a{
    display: block;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li >a >img{
    display: block;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li:nth-child(1) img{
    width: 120px;
    height: auto;
    margin: 5px auto;
    display: block;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li:nth-child(7) img{
    width: 15px;
    height: 20px;
    margin: 25px auto;
    display: block;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li .sub{
    width: 100%;
    height: 199px;
    background: #fff;
    display: none;
    margin-top: 1px;
    box-sizing: border-box;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li .sub>ul>li{
    width: 100%;
    line-height: 50px;
    font-size: 12px;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li .sub>ul>li a{
    color: #999;
}

.header .scroll-header .inner-scroll-header .sGnb>ul>li .sub>ul>li a:hover{
    border-bottom: 1.5px solid #e61d2a;
}
