@charset "utf-8";
@import url(../commons/header.css);
@import url(../commons/footer.css);

#wrap{
    width: 100%;
    height: 100%;
}

/*contents 부분*/
.contents{
/*    width: 100%;*/
    height: auto;
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 165px;
}

.contents .inner-con{
    width: 100%;
    height: auto;
}

.contents .inner-con .join{
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 50px;
}

.contents .inner-con .join span.title{
    display: block;
    width: 100%;
    height: 80px;
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    font-weight: bold;
    padding-top:50px;
}

.contents .inner-con .join p.subTitle{
    width: 100%;
    height: auto;
    font-size: 14px;
    letter-spacing: 5px;
    text-align: center;
    color: #727272;
    margin-bottom: 10px;
}

/*contents 약관동의 부분*/
.contents .inner-con .join .join-check{
    width: 100%;
    max-width: 1300px;
    background: #ffffff;
    margin: 0 auto;
}

.contents .inner-con .join .join-check .allAgree{
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto 10px;
}

.contents .inner-con .join .join-check .allAgree >ul >li >span{
    width: 620px;
    font-size: 11px;
}

.contents .inner-con .join .join-check .selectAgree{
    width: 100%;
    max-width: 1300px;
    height: auto;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm{
    width: 940px;
    height: auto;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    margin: 0 auto 10px;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li{
    font-size: 11px;
    width: 100%;
    margin: 10px 0;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li::after{
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree01 input[type=checkbox]{
    margin: 0 10px;
    display: inline-block;
    float: left;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree01 p{
    color: #ff8282;
    font-size: 11px;
    display: inline-block;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree01 div.detail{
    display: block;
    float: right;
    font-size: 11px;
    padding-right: 10px;
}
.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree02 input[type=checkbox]{
    margin: 0 10px;
    display: inline-block;
    float: left;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree02 p{
    color: #ff8282;
    font-size: 11px;
    display: inline-block;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree02 div.detail{
    display: block;
    float: right;
    font-size: 11px;
    padding-right: 10px;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree03 input[type=checkbox]{
    margin: 0 10px;
    display: inline-block;
    float: left;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree03 span{
    line-height: 15px;
    width: 210px;
    height: 15px;
    display: inline-block;
}

.contents .inner-con .join .join-check .selectAgree .selectAgreeForm >ul >li.s-Agree03 div.detail{
    display: block;
    float: right;
    font-size: 11px;
    padding-right: 10px;
}


/*contents 회원가입 부분*/
.contents .inner-con .join-info{
    width: 1000px;
    height: auto;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    margin: 0 auto;
    background: #ffffff;
    padding-bottom: 30px;
}

.contents .inner-con .join-info .infoTitle{
    width: 100%;
    height: auto;
    padding: 30px 0 0 30px;
}

.contents .inner-con .join-info .infoTitle::after{
    content:"";
    display: block;
    clear: both;
}

.contents .inner-con .join-info .infoTitle .formtitle{
    width: 100%;
    max-width: 150px;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.contents .inner-con .join-info .infoTitle .formtext{
    width: 200px;
    font-size: 15px;
    float: right;
    padding-right: 10px;
    font-size: 14px;
}

.contents .inner-con .join-info .infoTitle .formtext span.star{
    color: #ff8282;
    font-weight: bold;
}

.contents .inner-con .join-info .joinForm{
    width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 0 0;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm::after{
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join-info .joinForm form >ul >li{
    width: 100%;
    font-size: 12px;
}

.contents .inner-con .join-info .joinForm form >ul >li::after{
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join-info .joinForm form input::after{
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join-info .joinForm form >ul >li input[type=text],input[type=password]{
    width: 220px;
    height: 25px;
    border: 1.5px solid #bfbfbf;
    border-radius: 20px;
    text-indent: 10px;
    font-size: 12px;
    outline: none;
}

.contents .inner-con .join-info .joinForm form >ul >li input[type=text]:focus{
    border: 1.5px solid #161616;
    border-radius: 20px;
    text-indent: 10px;
    font-size: 12px;
    outline: none;
}

.contents .inner-con .join-info .joinForm form >ul >li input[type=password]:focus{
    border: 1.5px solid #161616;
    border-radius: 20px;
    text-indent: 10px;
    font-size: 12px;
    outline: none;
}

/*회원가입 - 아이디 부분*/
.contents .inner-con .join-info .joinForm form >ul >li.joinId >span{
    display: inline-block;
    float: left;
    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinId::after{
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinId >p{
    display: inline-block;
    color: #ff8282;
    font-weight: bold;
    line-height: 25px;
    padding: 0 40px 0 5px;
    float: left;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinId input[type=text]{
    margin: 0 10px 0 0;
    float: left;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinId input[type=button]{
    width: 100px;
    height: 28px;
    display: block;
    border: 1px solid #ff8282;
    background: #ff8282;
    color: #fff;
    border-radius: 10px;
    line-height: 28px;
    font-size: 12px;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinId input[type=button]:hover{
    box-shadow: 0 3px 3px 0 #ccc;
    font-weight: bold;
    cursor: pointer;
}

/*회원가입 - 비밀번호 부분*/
.contents .inner-con .join-info .joinForm form >ul >li.joinPw{
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinPw >span{
    display: inline-block;
    float: left;
    line-height: 25px;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinPw >p{
    display: inline-block;
    color: #ff8282;
    font-weight: bold;
    float: left;
    line-height: 25px;
    padding: 0 71px 0 5px;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinPwCheck{
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinPwCheck >span{
    display: inline-block;
    float: left;
    line-height: 25px;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinPwCheck >p{
    display: inline-block;
    color: #ff8282;
    font-weight: bold;
    float: left;
    line-height: 25px;
    padding: 0 43px 0 5px;
}

/*회원가입 - 이름부분*/
.contents .inner-con .join-info .joinForm form >ul >li.joinName{
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinName >span{
    display: inline-block;
    float: left;
    line-height: 25px;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinName >p{
    display: inline-block;
    color: #ff8282;
    font-weight: bold;
    float: left;
    line-height: 25px;
    padding: 0 95px 0 5px;
}

/*회원가입 - 휴대폰번호 부분*/
.contents .inner-con .join-info .joinForm form >ul >li.phone{
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone::after{
    content: "";
    display: block;
    clear: both;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone >span{
    display: inline-block;
    float: left;
    line-height: 25px;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone >p{
    display: inline-block;
    color: #ff8282;
    font-weight: bold;
    float: left;
    line-height: 25px;
    padding: 0 59px 0 5px;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone select{
    width: 60px;
    height: 28px;
    line-height: 20px;
    border-radius: 20px;
    border: 1.5px solid #bfbfbf;
    text-indent: 10px;
    float: left;
    font-size: 12px;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone span.hyphen{
    float: left;
    padding: 0 5px;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone input[type=text]{
    width: 50px;
    height: 25px;
    display: block;
    float: left;
    border: 1.5px solid #bfbfbf;
    border-radius: 20px;
    text-indent: 10px;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone input[type=text]:focus{
    border: 1.5px solid #161616;
    border-radius: 20px;
    text-indent: 10px;
    font-size: 12px;
    outline: none;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone input[type=button]{
    width: 100px;
    height: 28px;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    color: #000;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 25px;
}

.contents .inner-con .join-info .joinForm form >ul >li.phone input[type=button]:hover{
    box-shadow: 0 3px 3px 0 #ccc;
    font-weight: bold;
    cursor: pointer;
}

.contents .inner-con .join-info .joinForm form >ul >li.phoneCheck{
    float: left;
    margin-top: 20px;
    padding-left: 170px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.phoneCheck input[type=text]{
    border: none;
    border-bottom: 1px solid #bfbfbf;
    width: 100px;
    height: 15px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
    outline: none;
    font-size: 12px;
    border-radius: 0;
}

.contents .inner-con .join-info .joinForm form >ul >li.phoneCheck input[type=text]:focus{
    outline: none;
    border-bottom: 1px solid #161616;
    
}
.contents .inner-con .join-info .joinForm form >ul >li.phoneCheck span{
    float: left;
    margin-left: 10px;
    line-height: 25px;
}

/*회원가입 - 생년월일 부분*/
.contents .inner-con .join-info .joinForm form >ul >li.birth{
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}
.contents .inner-con .join-info .joinForm form >ul >li.birth >span{
    display: block;
    float: left;
    line-height: 25px;
    padding: 0 81px 0 0;
}

/*회원가입 - 성별 부분*/
.contents .inner-con .join-info .joinForm form >ul >li.sex{
    float: left;
    margin-top: 20px;
    padding-left: 170px;
    line-height: 25px;
    box-sizing: border-box;
}

.contents .inner-con .join-info .joinForm form >ul >li.sex input[type=radio]{
    display: block;
    width: 15px;
    height: 15px;
    float: left;
}

.contents .inner-con .join-info .joinForm form >ul >li.sex span{
    width: 40px;
    display: block;
    float: left;
    height: 20px;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
}

/*회원가입 - 버튼 부분*/
.contents .inner-con .join-info .joinForm form >ul >li.joinBtn input[type=reset]{
    width: 200px;
    height: 35px;
    font-size: 12px;
    background: #161616;
    border: 1.5px solid #161616;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 250px;
    font-weight: bold;
    float: left;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinBtn input[type=reset]:hover{
    box-shadow: 0 3px 3px 0 #ccc;
    font-weight: bold;
    cursor: pointer;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinBtn input[type=button]{
    width: 200px;
    height: 35px;
    font-size: 12px;
    background: #df0a1c;
    border: 1px solid #df0a1c;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
}

.contents .inner-con .join-info .joinForm form >ul >li.joinBtn input[type=button]:hover{
    box-shadow: 0 3px 3px 0 #ccc;
    font-weight: bold;
    cursor: pointer;
}




















